.add-btn {
    border: 1px solid #dadada;
    background: #eeeeee;
    padding: 5px;
    margin: 15px;
    color: #333333;
}
div p h4 {
    margin: 15px;
}
    
table {
    width: 90%;
    padding: 20px;
    border: 1px solid #dadada;
    margin: 15px;
}
tr th{
    background: #d3e0f7;
    padding: 5px;
    color: #0077c8;
}
tr td {
    padding: 5px;
}
tr:nth-child(odd) {
    background-color: #eeeeee;
}
td a {
    border: 1px solid #C7C7C7;
    margin-right: 2px;
    padding: 2px;
}
td span {
    border: 1px solid #C7C7C7;
    margin-left: 2px;
    padding: 2px;
}
.crud-close {
    color: red;
}
.confirm-content {
    color: red;
}
.body-content {
    margin: 8px;
}